body, html {
    margin: 0;
    padding: 0;
    background-color: #2c2c2c;
    color: #FFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
.wrapper {
    background-color: rgba(18, 95, 167, 0.603);
    display: flex;
    width: 100%;
    min-height: 100%;
}
header {
    position: relative;
    height: 90px;
    background-color: rgb(214, 22, 22);
}
header .wrapper .flexrow{
    align-items: center;
}
header .wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
header nav ul{
    margin-right: 10px;
    display: flex;
    gap: 0px 10px;
}
header nav ul li{
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    list-style-type: none;
    border: 1px solid #ae5ef0;
}   
header nav ul li:hover{
    background: linear-gradient(50deg, #47ee05, #f8fafa);
    color: #ffffff;
    border: 2px solid #d211ec;
    box-sizing: border-box;
    transition: 0.3s;
    transform: scale(1.05);
}
header nav ul li a{ 
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-decoration: none;
}
header nav ul li a:hover, .active{
    box-sizing: border-box;
    color: #0a0a0a;
    transform: scale(1.05);
}
header{
  background-color: #2c2c2c;
}
header img{
    width: 50px;
    height: 50px;
}
.dv {
    background: #47ee05;
}
.flexrow{
    display: flex;
    width: 1000px;
    height: 900px;
    gap: 20px;
}
aside {
    width: 200px;
    min-height: calc(100vh - 210px);
    background-color: bisque;
}
main {
    height: 200px;
    display: block;
    background-color: #4e4d4d;
}
.card {
    display: block;
    width: 300px;
    height: 200px;
}
.box_1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.box_1_1 {
    display: flex;
    align-items: center;
    width: 32%;
    height: 40px;
    background: #e6efff;
    color: #0a3d62;
    border-radius: 6px;
    padding: 3px 8px;
    font-size: 18px;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.box_1_2 {
    display: flex;
    align-items: center;
    width: 22%;
    height: 40px;
    background: #e6efff;
    color: #0a3d62;
    border-radius: 6px;
    padding: 3px 8px;
    font-size: 18px;
    box-shadow: inset 0px 1px 2px rgba(0,0,0,0.1);
}
.box_2 {
    height: 45px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.box_2_1 {
    font-weight: bold;
    font-size: 20px;
    background: #e6efff;
    color: #0a3d62;
    padding: 3px 8px;
    border-radius: 6px;
}
.box_2_2 {
    font-weight: bold;
    font-size: 20px;
    background: #e6efff;
    color: #0a3d62;
    padding: 3px 8px;
    border-radius: 6px;
}
.box_2_3 {
    flex: 1;
    text-align: right;
    font-size: 22px;
    font-weight: 700;
    background: #fff;
    color: #0a3d62;
    padding: 3px 8px;
    border-radius: 6px;
}
.box_3 {
    height: 40px;
    display: flex;
    flex-direction: row;
    padding: 8px 0px;
    background: #e6efff;
    border-radius: 8px;
    margin-top: 25px;
    gap: 20px;
}
.box_3_1 {
    margin-left: 5px;
    font-weight: bold;
    min-width: 30px;
    font-size: 20px;
    background: #e6efff;
    color: #0a3d62;
}
.box_3_2, .box_3_3, .box_3_4{
    font-weight: bold;
    min-width: 30px;
    font-size: 20px;
    background: #e6efff;
    color: #0a3d62;
}
.box_3_5 {
    font-weight: bold;
    font-size: 20px;
    background: #e6efff;
    color: #0a3d62;
    text-align: center;
    min-width: 60px;
}
.modal {
    position: absolute;
    background: #f3f4f5e8;
    display: none;
    width: 100%;
    height: 100%;
}






footer {
    height: 120px;
    background-color: black;
}
.wrapper{
    margin: 0 auto;
    width: 1000px;
}